html 
    head 
        title Sigurnost 

    body 
        li: a(href='/secure') Sigurne stranice 
        li: form.grades-form(action="/grades-unsecure", method="POST")
                .form-control 
                    label(for="studentId") StudentId
                    input(type="text", name="studentId", id="studentId")

                button.btn(type="submit") Dohvati studentove ocjene
        li: form.grade-form(action="/grade-unsecure", method="GET")
                .form-control 
                    label(for="test") Test 
                    input(type="text", name="test", id="test")
                    label(for="subject") Subject 
                    input(type="text", name="subject", id="subject")
                    label(for="grade") Grade 
                    input(type="number", name="grade", id="grade") 
                    label(for="studentId") StudentId 
                    input(type="number", name="studentId", id="studentId")

                button.btn(type="submit") Ocijeni studenta  